@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 210 40% 96.08%; /*#F1F5F9*/
  --foreground: 215.29 25% 26.67%; /*#334155*/
  --primary: 217.22 91.22% 59.8%; /*#3B82F6*/
  --secondary: 217.24 32.58% 17.45%; /*#1E293B*/
  --highlight: 142.09 70.56% 45.29%; /*#22C55E*/
  --border: 220 13.04% 90.98%; /*#E5E7EB*/
  --error: 0 84.24% 60.2%; /*#EF4444*/
  } 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
